/* Light-theme */

/* MENU */
.menubox {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: black;
}
.menubox > .menubar {

}
.menubox > .menubar > *:not(.spacer) {
    font-family: slkscr;
    font-size: 1.7em;
    border-style: solid;
    border-radius: 2px;
    border-width: 2px;
    border-color: black;
}
.menubox > .menubar > .input > img {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

/* entry */
.entrybox > .entry {
    border-style: solid;
    border-width: 1px;
    border-color: #6d5dbf;
    border-top-style: solid;
    border-top-width: 0.6em;
    border-top-color: #6d5dbf;
}
.entrybox > .entry > .title {
    position: relative;
    font-size: 3em;
    font-family: slkscr;
}
.entrybox > .entry > .author {
    font-style: italic;
    font-family: slkscr;
    font-size: 1em;
}
.entrybox > .entry > .seperator {
    border: none;
    border-top-color: #6d5dbf;
    border-top-width: 1px;
    border-top-style: solid;
}
