/* Light-theme */

/* MENU */
.menubox {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: black;
}
.menubox > .menubar {

}
.menubox > .menubar > *:not(.spacer) {
    font-family: slkscr;
    font-size: 1.7em;
    border-style: solid;
    border-radius: 1px;
    border-width: 2px;
    border-color: black;
}
.menubox > .menubar > *:not(.spacer):hover {
    background-color: #6d5dbf33;
}
.menubox > .menubar > .input > img {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

/* entry */
.entrybox > .entry {
    border-style: solid;
    border-width: 1px;
    border-color: #6d5dbf;
    border-top-style: solid;
    border-top-width: 0.6em;
    border-top-color: #6d5dbf;
}
.entrybox > .entry:hover {
    background-color: #6d5dbf33;
}
.entrybox > .entry > .title {
    position: relative;
    font-size: 3em;
    font-family: slkscr;
    color: black;
}
.entrybox > .entry > .title:hover {
    text-decoration: underline;
}
.entrybox > .metaentry > .title:hover {
    text-decoration: none;
} 
.entrybox > .entry > .author {
    font-style: italic;
    font-family: slkscr;
    font-size: 1em;
}
.entrybox > .entry > .author > .author {
    font-family: slkscr;
    text-decoration: none;
    color: black;
}
.entrybox > .entry > .author > .author:hover {
    text-decoration: underline;
}
.entrybox > .entry > .seperator {
    border: none;
    border-top-color: #6d5dbf;
    border-top-width: 1px;
    border-top-style: solid;
}
.entrybox > .entry > .tags {
	height: 2em;
}
.entrybox > .entry > .tagtitle {
	font-size: 0.7em;
	font-style: italic;
}
.entrybox > .entry > .brow > .tags > .tag {
	position: relative;
	top: 0.4em;
	left: -0.3em;
	margin-left: 0.4em;

	padding: 0.15em;
	padding-top: 0.1em;

	border-color: #6d5dbf;
	border-width: 1px;
	border-style: solid;

	border-top-color: #6f5dbf;
	border-top-width: 0.3em;
	border-top-style: solid;
}
.entrybox > .entry > .brow > .tags > .tag > a {
	font-family: slkscr;
}
.entrybox > .entry > .brow >.tags > .tag:hover {
	background-color: #6f5dbf33
}
.entrybox > .entry > .brow {
	position: relative;
	width: 100%;
	height: 2.1em;
}
.entrybox > .entry > .brow > .rating {
	position: relative;
	
	float: right;
}
.entrybox > .entry > .brow > .rating > span {
	position: relative;
	top: 0.4em;
	left: -0.3em;
	margin-left: 0.4em;
	
	padding: 0.15em;
	padding-top: 0.1em;

	border-width: 1px;
	border-style: solid;

	border-top-width: 0.3em;
	border-top-style: solid;
}
.entrybox > .entry > .brow > .rating > span > a {
	font-family: slkscr;
}
.entrybox > .entry > .brow > .rating > span.plus {
	border-color: green;
}
.entrybox > .entry > .brow > .rating > span.minus {
	border-color: red;
}
.entrybox > .entry > .brow > .rating > span.plus:hover {
	background-color: #007F0033;
}
.entrybox > .entry > .brow > .rating > span.minus:hover {
	background-color: #7F000033
}

/* pager */
.pager {
	width: 100%;
	text-align: center;
}
.pager > .pager.entry {
	position: relative;
	top: 0.4em;
	left: -0.3em;
	margin-left: 0.4em;

	padding: 0.15em;
	padding-top: 0.1em;
	padding-left: 0.2em;
	padding-right: 0.2em;

	border-color: #414141;
	border-width: 1px;
	border-style: solid;

	border-top-color: #414141;
	border-top-width: 0.2em;
	border-top-style: solid;
}
.pager > .pager.entry:hover {
	background-color: #41414133
}
.pager > .pager.entry.selected {
	background-color: #41414133
}

/* comments */
.comments > .comment {
	border-style: solid;
	border-width: 1px;
	border-color: #606060;
	border-top-style: solid;
	border-top-width: 0.4em;
	border-top-color: #606060;
}
.comments > .comment:hover {
	background-color: #60606033
}
.comments > .comment > .authorbox > .author {
	position: relative;
	font-size: 1.5em;
	font-family: slkscr;
	color: black;
}
.comments > .comment > .authorbox > .timestamp {
	font-size: 0.8em;
	font-style: italic;
}
.comments > .hidden {
	visibility: hidden;
}


/* other stuff */

/* footer */
.footer > a.text {
	font-size: 0.7em;
}

/* cookie settings */
.cookiesetting > * {
	margin-right: 0px;
	margin-left: 0.5em;
}
.cookiesetting {
	display: flex;
	justify-content: left;
}

