* {
    font-family: Arial, Helvetica, sans-serif;
    color: black
}
a {
    text-decoration: none;
}
body, html {
	position: absolute;
    width: 100%;
    background-color: white;
	top: -4px;
	left: -4px;
}
.content {
    position: relative;
    width: 100%;
    top: 0px;
    left: 0px;
}

/* MENU */
.menubox {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 2.8em;
}
.menubox > .menubar {
    position: absolute;
    display: flex;
    justify-content: left;
    top: 0.5em;
    left: 0.5em;
    height: 1.7em;
    width: calc( 100% - 1em );
}
.menubox > .menubar > *:not(.spacer) {
    position: relative;
    height: 100%;
    top: 0px;
    left: 0px;
    user-select: none;
}
.menubox > .menubar > .input > input {
    position: relative;
    top: -0.3em;
    height: 1.1em;
    width: 12em;
    margin-left: 0.2em;
}
.menubox > .menubar > .input > img {
    position: relative;
    top: 0.1em;
    left: -0.2em;
    height: 0.8em;
    width: 0.8em;
}
.menubox > .menubar > .spacer {
    width: 0.5em;
}

/* content */
.content {
    top: 3em;
}
.entrybox {
    position: relative;
    width: 100%;
}
.entrybox > .entry {
    position: relative;
    width: 50em;
    left: calc( 50% - 25em );
    top:   0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-bottom: 1em;
}
.entrybox > .entry > .title {
    left: 0px;
}
.entrybox > .entry > .seperator {
    position: relative;
    height: 0px;
    top: 0.2em;
}
.entrybox > .entry > .preview {
    position: relative;
    top: 0.5em;
    margin-bottom: 1em;
}

/* share */
.socialicon {
    height: 2em;
    padding-top: 0.5em;
    padding-right: 0.5em;
}
.share {
    color: blue
}

/* comments */
textarea.comment {
    resize: none;
    width: calc( 100% - 0.5em);
    height: 5em;
}
.comments > .comment {
	position: relative;
	width: calc( 100% - 4em );
	left: 1em;
	top: 1em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	margin-bottom: 1em;
}
.comments > .comment > .subtitle {
	position: relative;
	left: 0px;
}

.comments > .comment > .seperator {
	position: relative;
	top: 0.2em;
	height: 0px;
}
.comments > .comment > .body {
	position: relative;
	top: 0.5em;
	margin-bottom: 1em;
}
.commentbox {
	padding-bottom: 1em;
}

/* admin/editor */
.entrybox > .entry.metaentry > .preview > .editor > input.editor.title {
	width: calc( 100% - 0.5em );
	font-size: 1.5em;
	font-family: slkscr;
	margin-bottom: 0.5em;
}
.entrybox > .entry.metaentry > .preview > .editor > input.editor.tags {
	position: relative;
	top: -2em;
	width: 40em;
	max-width: calc( 60% );
	font-family: slkscr;
}
.entrybox > .entry.metaentry > .preview > .editor > textarea.editor.desc {
	width: calc( 100% - 0.5em );
	resize: none;
	height: 5em;
}
.entrybox > .entry.metaentry > .preview > .editor.author {
	font-family: slkscr;
}

/* footer */
.footer {
	width: 100%;
	position: relative;
	top: 4em;
	text-align: center;
}
.footer > a.text {
	position: relative;
	padding: 0.2em;
	font-size: 0.7em;
}

/* cookie settings */
.cookie.setting {
	width: 2em;
	height: 1em;
	border-radius: 1em;
}
.cookie.setting > .switcher {
	width: 0.8em;
	height: 0.8em;
	border-radius: 0.6em;
	background-color: white;
}
.cookie.setting.noff {
	background-color: orange;
}
.cookie.setting.noff > .switcher {
	position: relative;
	top: 0.1em;
	left: 0.6em;
}

.cookie.setting.on {
	background-color: green;
}
.cookie.setting.on > .switcher {
	position: relative;
	top: 0.1em;
	left: 1em;
}

.cookie.setting.off {
	background-color: red;
}
.cookie.setting.off > .switcher {
	position: relative;
	top: 0.1em;
	left: 0.1em;
}

/* search */
.subtitle.search {
	padding-bottom: 0.3em;
}
