<div class="<%= tag ? tag : "" %> comments">
	<% for( let comment of comments ) { %>
		<div class="comment">
			<div class="authorbox">
				<span class="author"><%= comment.author %></span>
	   		    <span class="timestamp">wrote at <%= new Date(comment.create) %></span>
			</div>
			<hr class="speperator">
			<div class="body"><%- comment.content.replaceAll("<", "&lt;")?.replaceAll("\n", "<br>") %></div>
		</div>
	<% } %>
</div>
