<a class="text" href="/static/pp.html">Privacy policy</a>
<span class="spacer">|</span>
<a class="text" href="/static/impressum.html">Impressum</a>
<span class="spacer">|</span>
<a class="text" href="/static/keks.html">Cookie Settings</a>
