<a class="text" href="/static/pages/privacy.html">Privacy policy</a>
<span class="spacer">|</span>
<a class="text" href="/static/pages/impressum.html">Impressum</a>
<span class="spacer">|</span>
<a class="text" href="/static/keks.html">Cookie Settings</a>
