<div class="menubar">
	<a class="href" title="/" href="/">derzombiiie.com</a>
	<div class="spacer"></div>
	<a class="href" title="/posts" href="/posts">posts</a>
	<div class="spacer"></div>
	<a class="href" title="/posts?sort=new" href="/posts?sort=new">newest</a>
	<div class="spacer"></div>
	<div class="input">
	   <input type="input" id="search-input">
	   <img src="/static/icon/search.svg" title="search" alt="search" id="search-button">
	</div>
	<div class="spacer"></div>
</div>
